<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="mobile_suite" verbose="0" parallel="classes">
    <test name="hueta">
        <classes>
            <class name="Test123"/>
            <class name="Qdwefwed"/>
            <class name="Fwefw"/>
        </classes>
    </test>
</suite>